{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>


   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>CC</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{% static "blog/css/base.css" %}">  
   <link rel="stylesheet" href="{% static "blog/css/main.css" %}"> 
   <link rel="stylesheet" href="{% static "blog/css/vendor.css" %}">     

   <!-- script
   ================================================== -->   
	<script src="{% static "blog/js/modernizr.js" %}"> 
	<script src="{% static "blog/js/pace.min.js" %}"> ></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>   	
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>
		      <div class="logo>
		      </div>

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
						<li><a class="smoothscroll"  href="#about" title="">Sobre</a></li>
						<li><a class="smoothscroll"  href="#resume" title="">Curriculum</a></li>
						<li><a class="smoothscroll"  href="#portfolio" title="">Portfolio</a></li>
							
					</ul>
			</nav>    		
   		</div> <!-- /top-bar --> 
   		
   	</div> <!-- /row --> 		
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>Welcome</h5>
	   			<h1>Cibele Castelo</h1>

	   			<p class="intro-position">
	   				<span>Machine Learning Engineer</span>
	   				<span>Python Developer</span> 
	   			</p>

	   			<a class="button stroke smoothscroll" href="#about" title="">More about me</a>

	   		</div>  
   			
   		</div>   		 		
   	</div> <!-- /intro-content --> 

   	<ul class="intro-social">
	 <li><a href="https://github.com/cibelecastelo" target="_blank"><i class="fa fa-github"></i></a></li>        
         <li><a href="https://www.linkedin.com/in/cibelecastelo/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
         <li><a href="https://www.facebook.com/cibele.cast" target="_blank"><i class="fa fa-facebook"></i></a></li>
	<li><a href="https://medium.com/@cibelecastelo" target="_blank"><i class="fa fa-medium"></i></a></li>
	<li><a href="https://www.meetup.com/pt-BR/members/226651527" target="_blank"><i class="fa fa-meetup" aria-hidden="true"></i></a></li> 
	<li><a href="https://t.me/cibelecastelo" target="_blank"><i class="fa fa-telegram" ></i></a></li> 
	<li><a href="https://www.kaggle.com/cibelecast/competitions" target="_blank"><i class="fa fa-anchor"></i></a></li> 

      </ul> <!-- /intro-social -->      	

   </section> <!-- /intro -->


   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Sobre</h5>
   			<h1>Perfil</h1>

   			<div class="intro-info">

   				<img src="{% static "blog/images/profile-pic.jpg" %}" alt="Profile Picture">

   				<p class="lead text-align-justify">Loves challenges and has extreme passion for technology, has interest in the area of ​​data science, machine learning and IA. Loves to learn new technologies. At the moment, working as a Freelancer with ETL, data cleaning, data processing,...</p>
				
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Profile</h3>

   			<p align="justify">Graduated in Information Systems at Centro Universitário Newton Paiva and Engineer of Machine Learning at Udacity.Experience with data science projects, involving data collection, data processing, data analysis, creation and evaluation of predictive models and storytelling.Domínio da linguagem de programação Python.Domain of the Python programming language.

</p>

   			<ul class="info-list">
   				<li>
   					<strong>Name:</strong>
   					<span>Cibele Castelo</span>
   				</li>
   				<li>
   					<strong>Age:</strong>
   					<span>I'm 24 years old</span>
   				</li>
   				<li>
   					<strong>Work:</strong>
   					<span>Freelancer</span>
   				</li>
   				<li>
   					<strong>Website:</strong>
   					<span>www.cibelecastelo.ml</span>
   				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>cibele_cast@hotmail.com</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h3>Skills</h3>

				<ul class="skill-bars">
				   <li>
				   	<div class="progress percent90"><span>100%</span></div>
				   	<strong>Python</strong>
				   </li>
<ul class="skill-bars">
				   <li>
				   	<div class="progress percent80"><span>100%</span></div>
				   	<strong>ETL(data from pdf to excel,csv,xml, etc...)</strong>
				   </li>
<li>
				   	<div class="progress percent80"><span>80%</span></div>
				   	<strong>SKlearn</strong>
				   </li>

<li>
				   	<div class="progress percent80"><span>80%</span></div>
				   	<strong>Machine Learning</strong>
				   </li>
				 
				 
				   <li>
				   	<div class="progress percent80"><span>80%</span></div>
				   	<strong>Pandas</strong>
				   </li>
				   <li>

				   	<div class="progress percent80"><span>80%</span></div>
				   	<strong>MatplotLib/Seaborn</strong>
				   </li>

<li>
				   	<div class="progress percent70"><span>80%</span></div>
				   	<strong>SQL</strong>
				   </li>

<li>
				   	<div class="progress percent70"><span>70%</span></div>
				   	<strong>HTML</strong>
				   </li>
				   <li>
				   	<div class="progress percent70"><span>70%</span></div>
				   	<strong>CSS</strong>
				   </li>

<li>
				   	<div class="progress percent60"><span>60%</span></div>
				   	<strong>Django</strong>
				   </li>

 <li>

				   	<div class="progress percent60"><span>60%</span></div>
				   	<strong>SCRUM</strong>
				   </li>
<li>
				   	<div class="progress percent40"><span>40%</span></div>
				   	<strong>R</strong>
				   </li>

<li>
				   	<div class="progress percent45"><span>45%</span></div>
				   	<strong>Web Scraping</strong>
				   </li>



      
				</ul> <!-- /skill-bars -->		

   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="#contact" title="Me contrate" class="button stroke smoothscroll">Me contrate</a>
   			<a href="https://drive.google.com/file/d/1Hedb77gr_3lFqQNpjgVQCwoXfXn3bwpF/view?" target="_blank"" usp=sharing  title="Download CV" class="button button-primary">Download CV</a>
   		</div>   		
   	</div>

   </section> <!-- /process-->    


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Curriculum Vitae</h5>
   			<h1>More of my credentials</h1>

   			<p class="lead">At the moment I dedicate my time doing freelancer job. I have experience with all the data science cicle, for example, in data collection, I can create an algorithm for extracting data from pdfs and load this data to an excel sheet, and I can do data processing and data cleaning too. I only do jobs that is related with the data science cycle.</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Business Intelligence Analyst</h3>
	   					<p> Mar 2016 - Jun 2016</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>MD2 Consultoria</h4>
	   					<p align='justify'>IBM software installations used in BI projects. Programming, practices and studies of data analysis using the DataStage Designer and Data Quality tool, for ETL projects. Other: IBM Information Server installation, CDD installation, ... Data governance project participation using Infopshere Information Governance Catalog tool </p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Internship</h3>
	   					<p>Set 2014 - Out 2015</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Lafarge</h4>
	   					<p align='justify'>Support in the development, improvements, support and corrections of the software corporate applications and database of the company in order to guarantee the operation and availability of the same. In addition, support and service to system users.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
   	
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>ACADEMIC BACKGROUND</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Nanodegree Machine Learning ENGINEER</h3>
	   					<p>Fev 2017 - Nov 2017</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Udacity</h4>
	   					<p align='justify'>The Nanodegree Machine Learning Engineer made possible the learn of construct predictive models that are used to teach computers how to act, learn and take decisions based on data. It was aborted fundamental concepts about supervised learning, unsupervided learning, reforcing learning and deep learning, and besides that, the avaliation and validation of models. The final project was developed based on all the data science cycle.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Graduaded in Information's System</h3>
	   					<p>2011 - Jun 2016</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Centro Universitário Newton Paiva</h4>
	   					<p align='justify'>Graduated in Information Systems, this course made possible my first contact with information technology. Projects have been developed in the area of programming, database, networking and webdesign.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
		
	</section> <!-- /features -->


	<!-- Portfolio Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Portfolio</h5>
   			<h1>Check out some of my projects(Most of them are in Portuguese, except the competition of Kaggle</h1>

   			<p class="lead">Some projects below were developed together with Nanodegree of Udacity, others were developed for competitions.</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row portfolio-content">

   		<div class="col-twelve">

   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

		    <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static "blog/images/portfolio/lighthouse.jpg" %}" alt="Beetle">
	                  <a href="#modal-01" class="overlay">                  	                 
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Porto Seguro</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Branding
		     					      </span>		     		
		     					   </div>  	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item --> 

	         	<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static "blog/images/portfolio/beetle.jpg" %}" alt="Beetle">
	                  <a href="#modal-04" class="overlay">                  	                 
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Miaudote</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Branding
		     					      </span>		     		
		     					   </div>  	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item --> 

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static "blog/images/portfolio/shutterbug.jpg" %}" alt="Shutterbug">
	               	<a href="#modal-02" class="overlay">              		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Criando Segmentos de Consumidores</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Web Design
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

                    <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static "blog/images/portfolio/clouds.jpg" %}" alt="clouds">
	                  <a href="#modal-03" class="overlay">                  	                 
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">movehub cities</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Branding
		     					      </span>		     		
		     					   </div>  	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item --> 
		            


 	             <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static "blog/images/portfolio/salad.jpg" %}" alt="Salad">
	                  <a href="#modal-06" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Boston House</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Branding
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item --> 
			
		     <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static "blog/images/portfolio/liberty.jpg" %}" alt="Liberty">
	                  <a href="#modal-05" class="overlay">	                  	           
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
		     					       <h3 class="folio-title">Sistema de Intervenção de Alunos</h3>	     					    
		     					    	 <span class="folio-types">
		     					       	  Graphic Design
		     					       </span>
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>	               
	        		</div> <!-- /folio-item -->




	            <!-- modal popups - begin
	            ============================================================= 
-->
	            <div id="modal-05" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{% static "blog/images/portfolio/modals/m-liberty.jpg" %}" alt="" />
				     	</div>  
    	

					   <div class="description-box">
					      <h4>Sistema de Intervenção Estudantil</h4>		      
					      <p align='justify'>Investigue os fatores que afetam a performance de estudantes no ensino médio. Treine e teste vários modelos de aprendizagem de máquina supervisionada em um conjunto de dados para prever quão provável um estudante passará. Selecione o melhor modelo baseado na precisão relativa e eficiência.</p>

					      <div class="categories">Tipos de problemas: Regressão vs. Classificação, Treinamento e predição do modelo, Árvores de decisão,Regressão, Redes Neurais, SVM, Naive Bayes, K-Nearest Neighbors e Adaboosting.</div>			               
					   </div>			            

			         <div class="link-box">
			           <a href="https://github.com/cibelecastelo/Criando-um-sistema-de-intervencao-de-alunos/blob/master/student_intervention_PT.ipynb" target="_blank">Detalhes</a>
					      <a href="#" class="popup-modal-dismiss">Fechar</a>
			         </div>		      

				   </div> <!-- /modal-01 -->

				   <div id="modal-02" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{% static "blog/images/portfolio/modals/m-shutterbug.jpg" alt="" />

				     	</div>      	

					   <div class="description-box">
					      <h4>Criando Segmentos de Consumidores</h4>		      
					      <p align='justify'>Revise dados não estruturados para entender os padrões e categorias naturais que os dados se encaixam. Utilize múltiplos algoritmos e os compare empiricamente e teoricamente contrastando os resultados. Faça previsões sobre as categorias naturais de vários tipos no conjunto de dados, então verifique essas previsões contra o resultado da análise não supervisionada.</p>

					      <div class="categories">Clusterização, PCA/ICA, SKlearn, Seleção de feature e Visualização de dados.</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/cibelecastelo/Projeto-Udacity---Criando-segmentos-de-clientela/blob/master/student_intervention_PT.ipynb" target="_blank">Detalhes</a>
					      <a href="#" class="popup-modal-dismiss">Fechar</a>
			         </div>		      

				   </div> <!-- /modal-02 -->

				   <div id="modal-03" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{% static "blog/images/portfolio/modals/m-clouds.jpg" %}" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>KAGGLE - Competição MoveHub Cities</h4>		      
					      <p align='justify'>A predição do ranking das melhores cidades para se viver com base em dados conhecidos é um problema alcançável,
pois é constatável que melhores cidades para se viver possuem em sua localidade pessoas com boa qualidade de vida, com bons salários e com poder de compra, e em contraste cidades menos favorecidas possuem altas taxas de crime, pobreza e poluição. Assim, cada fator citado, entre outros influenciam em como uma cidade pode ser avaliada. Nesta competição já há uma variável, ‘Movehub Rating’, que é a combinação de todas as pontuações para uma classificação geral para uma cidade. Dessa forma, para realizar a predição será necessário considerar todos os fatores
existentes dentro do conjunto de dados, pois eles contribuem para a obtenção do resultado do ranking. O Scikit-Learn, uma biblioteca de Machine Learning, será utilizada para implementação de um algoritmo de regressão multivariada para a modelagem dos dados. Esse algoritmo irá criar o modelo que será capaz de prever os valores dos rankings das cidades. Machine Learning foi utilizada para a análise de dados e automatização do desenvolvimento da modelagem de dados. O algoritmo utilizado, possibilitou a obtenção de um resultado de 90,2% de precisão, o que
demostra a eficácia do modelo na generalização de dados ainda não vistos..</p>

					      <div class="categories">Python, pandas, matplotlib, storytelling, regressão multivariada, scipy, sklearn, numpy, aprendizagem supervisionada, processamento de dados, sql e análise exploratória.</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/cibelecastelo/Kaggle---Competicao-de-Machine-Learning---MoveHub-Cities/blob/master/Artigo%20-%20Movehub%20Cities.pdf" target="_blank">Detalhes</a>
					      <a href="#" class="popup-modal-dismiss">Fechar</a>
			         </div>		      

				   </div> <!-- /modal-03 -->

				   <div id="modal-04" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{% static "blog/images/portfolio/m-beetle.jpg" %}" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Projeto MIAUDOTE</h4>		      
					      <p align='justify'>Participação no desenvolvimento de um sistema de adoção de animais 'Miaudote' durante o primeiro semestre de2016. O Miaudote foi apresentado no Mercado Newton.O projeto foi realizado em parceria com o curso de veterinária que possui contatos com ONGS de proteção ao animal, que dão suporte aos animais abandonados nas ruas. O objetivo do projeto foi aumentar a adoção de cachorros e gatos por meio da utilização desse website.</p>

					      <div class="categories">SCRUM,WEBDESIGNER,PO</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.miaudote.com.br" target="_blank"> target="_blank">Detalhes</a>
					      <a href="#" class="popup-modal-dismiss">Fechar</a>
			         </div>		      

				   </div> <!-- /modal-04 -->

				   <div id="modal-01" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{% static "blog/images/portfolio/modals/m-lighthouse.jpg" %}" alt="" />
				     	</div>      	
					   <div class="description-box">
					      <h4>Kaggle – Competição Porto Seguro</h4>		      
					      <p align='justify'>O projeto apresenta o problema e solução para a competição Porto Seguro’s Safe Driver Prediction que está
disponível no site Kaggle, que é uma plataforma para modelagens preditivas e competições analíticas. Nesta competição, você é desafiado a construir um modelo que prevê a probabilidade de um motorista acionar o seguro de veículo no próximo ano. A Porto Seguro tem utilizado Machine Learning nos últimos 20 anos, e eles estão olhandopara a comunidade de Machine Learning da Kaggle para explorar novos métodos mais poderosos. Uma previsão mais precisa irá permitir que eles sigam adaptando seus preços com a esperança que a cobertura do seguro automóvel
seja mais acessível para mais motoristas. Este projeto foi o projeto de conclusão do curso de Nanodegree de Machine Learning da Udacity que teve como objetivo a identificação e resolução de um problema real que pudesse ser resolvido com a utilização das técnicas de Machine Learning aprendidas no curso.</p>

					      <div class="categories">Coleta de Dados,Análise de dados, Exploração de Dados, Processamento de Dados, Modelo Preditivo, Aperfeiçoamento do Modelo, Avaliação e Validação do Modelo, Análise e Relatório,desenvolvimento python, pearson, estatística descritiva e normalização de dados.</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/cibelecastelo/Projeto-de-Conclusao-de-Curso---Nanodegree-Machine-Learning/blob/master/Projeto%20de%20Conclus%C3%A3o_Cibele%20Castelo%20Nogueira.pdf" target="_blank">Detalhes</a>
					      <a href="#" class="popup-modal-dismiss">Fechar</a>
			         </div>		      

				   </div> <!-- /modal-05 -->

				   <div id="modal-06" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{% static "blog/images/portfolio/modals/m-salad.jpg" %}" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Prevendo os preços das casas de Boston</h4>		      
					      <p align='justify'>Construa um modelo para prever o valor de uma casa no mercado de Boston utilizando várias ferramentas de análise estatística. Identifique o melhor preço que um cliente pode vender sua casa utilizando machine learning.</p>

					      <div class="categories">Branding</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/cibelecastelo/Projeto-Boston-House/blob/master/boston_housing.ipynb" target="_blank">Detalhes</a>
					      <a href="#" class="popup-modal-dismiss">Fechar</a>
			         </div>		      

				   </div> <!-- /modal-06 -->


				   <!-- modal popups - end
	            ============================================================= -->

	         </div> <!-- /portfolio-wrapper --> 

   		</div>  <!-- /twelve -->   

   	</div> <!-- /portfolio-content --> 
		
	</section> <!-- /portfolio --> 


	
   <!-- contact
   ================================================== -->
    
   	<div class="row contact-info">
	   
   		<div class="col-four tab-full collapse">   
 
   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Send me an e-mail</h5>

   			<p>cibele_cast@hotmail.com<br>			     
			   </p>
   		</div>

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-phone"></i>
   			</div>

   			<h5>Me ligue</h5>

   			<p>     
				Whatsapp: (+31) 995630327<br>
			   </p>

   		</div>
   		
   	</div> <!-- /contact-info -->
		
	</section> <!-- /contact -->


   <!-- footer
   ================================================== -->

      <footer>
     	<div class="row">

     		<div class="col-six tab-full pull-right social">

     			<ul class="footer-social">        
			      <li><a href="https://github.com/cibelecastelo"><i class="fa fa-github" target="_blank"></i></a></li>        
         <li><a href="https://www.linkedin.com/in/cibelecastelo/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
         <li><a href="https://www.facebook.com/cibele.cast" target="_blank"><i class="fa fa-facebook"></i></a></li>
	<li><a href="https://medium.com/@cibelecastelo" target="_blank"><i class="fa fa-medium"></i></a></li>
	<li><a href="https://www.meetup.com/pt-BR/members/226651527" target="_blank"><i class="fa fa-meetup" aria-hidden="true"></i></a></li> 
	<li><a href="https://t.me/cibelecastelo" target="_blank"><i class="fa fa-telegram" ></i></a></li> 
	<li><a href="https://www.kaggle.com/cibelecast/competitions"><i class="fa fa-anchor"></i></a></li>
			   </ul> 
	      		
	      </div>

      	<div class="col-six tab-full">
	      	<div class="copyright">
		        	<span>© Copyright Kards 2016.</span> 
		        	<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>	         	
		         </div>		                  
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->     	
   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 
   <!-- Java Script
   ================================================== --> 
   <script src="{% static "blog/js/jquery-2.1.3.min.js" %}"></script>
   <script src="{% static "blog/js/plugins.js" %}">></script>
   <script src="{% static "blog/js/main.js" %}"> ></script>

</body>

</html>
